#if($wording)
$i18n.getText($wording,"<strong><a id='attach_file' href='$requestContext.baseUrl/secure/CreateIssueAndLink!default.jspa?parentid=$issue.id#if($mappingId)&mappingid=$mappingId#end' rel='lazyLink'>", "</a></strong>")
#else
$i18n.getText("issue.operations.link.new.issue.libelle", "<strong><a id='attach_file' href='$requestContext.baseUrl/secure/CreateIssueAndLink!default.jspa?parentid=$issue.id' rel='lazyLink'>", "</a></strong>")
#end